### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# The best way to determine the number of players is to look at unique screen names

num_players = purchase_data.SN.nunique()

# Now create a dataframe using that data

data = {"Total Players": [num_players]}
playerDF = pd.DataFrame(data)

playerDF

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# The way I've chosen to attack the rest of these questions is by building series and then dataframes from
# those series.

# Create pandas series for unique items in Item ID, and then name the series

unique_items = pd.Series(purchase_data["Item ID"].nunique(), name = "Number of Unique Items")


# Create series finding the mean price, naming the series, and then rounding to two places

avg_price = pd.Series(purchase_data.Price.mean(), name = "Average Price")
avg_price = round(avg_price, 2)


# Create series for unique purchases, and name it

num_purchases = pd.Series(purchase_data["Purchase ID"].nunique(), name = "Number of Purchases")


# Create series that sums the prices, and name it

total_rev = pd.Series(purchase_data.Price.sum(), name = "Total Revenue")


# Concatenate the series, then convert them into pandas dataframe

df = pd.concat([unique_items, avg_price, num_purchases, total_rev], axis = 1)
Purchase_AnalysisDF = pd.DataFrame(df)
Purchase_AnalysisDF

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Find number of unique users by gender and then make numpy array for calculation of percentages

gen = purchase_data.groupby(["Gender"])["SN"].nunique()
np.array(gen)

# Making a new array of percentages and rounding them

pct_gen = round((gen/num_players)*100,2)

# Turning the arrays into panda series with names

s1 = pd.Series(gen, name = "Total Count") 
s2 = pd.Series(pct_gen, name = "Percentage of Players")

# Concatenating the series to make a new dataframe

newDF = pd.concat([s1, s2], axis = 1)
newDF

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Create series of purchases by gender, then count

pur_count = pd.Series(purchase_data.groupby(["Gender"])["Purchase ID"].count(), name = "Purchase Count")


# Create series of the prices paid by gender

tot_pur_val = pd.Series(purchase_data.groupby(["Gender"])["Price"].agg(sum), name = "Total Purchase Value")


# Create series of average purchase price and round to two places

avg_pur_price = pd.Series(round(tot_pur_val/pur_count, 2), name = "Average Purchase Price")


# Divide total price paid by the total count of players by gender to get average total per person

avg_per_person = pd.Series(round(tot_pur_val/gen, 2), name = "Avg Total Purchase per Person")

# Concatenate the series, then turn into a dataframe

pur_analysisPD = pd.concat([pur_count, avg_pur_price, tot_pur_val, avg_per_person], axis = 1)
pur_analysisPD = pd.DataFrame(pur_analysisPD)
pur_analysisPD

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
purchase_data.head()

In [14]:
# Create bins and name them

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bins_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Pull out Age and assign to bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = bins_names)

# Turn our binned data into a series

Age_Count = pd.Series(purchase_data.groupby("Age Group")["SN"].nunique(), name = "Total Count")


# Make a series of binned data as percentage

age_percentage = pd.Series(round(Age_Count/num_players * 100, 2), name = "Percentage of Players")

# Concatenate series and make into a dataframe

binned_ageDF = pd.concat([Age_Count, age_percentage], axis = 1)
binned_ageDF = pd.DataFrame(binned_ageDF)
binned_ageDF

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# Since purchase_data already contains Age Groups thanks to the cell above, I can work with that column.
# I chose to leave the ages in order rather than move the under-10's to the bottom row.

# Series of unique purchases by age

age_pur_count = pd.Series(purchase_data.groupby("Age Group")["Purchase ID"].nunique(), name = "Purchase Count")

# Series of average purchase price by group

age_avg_price = pd.Series(round(purchase_data.groupby("Age Group")["Price"].mean(), 2), 
                          name = "Average Purchase Price")

# Series of the total price paid by group

age_tot_val = pd.Series(purchase_data.groupby("Age Group")["Price"].sum(), name = "Total Purchase Value")

# Series of the average total per person, using Age_Count from cell above

age_per_person = pd.Series(round(age_tot_val/Age_Count, 2), name = "Avg Total Purchase per Person")

# Concatenate and turn into dataframe

Analysis_by_AgeDF = pd.concat([age_pur_count, age_avg_price, age_tot_val, age_per_person], axis = 1)
Analysis_by_AgeDF = pd.DataFrame(Analysis_by_AgeDF)
Analysis_by_AgeDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [12]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
# First I'll group the amount spent by user name

# temp = purchase_data.groupby("SN")["Price"].sum()

# temp2 = purchase_data.sort_values("Price", ascending = False)
# purchase_data.groupby("SN")[temp2].sum()
# #purchase_data.sort_values(purchase_data.groupby("SN")["Price"].sum(), ascending = False).head()
#temp

purchase_data["SN"].value_counts()
#SN_purch.head()

Lisosia93        5
Idastidru52      4
Iral74           4
Chadolyla44      3
Iskadarya95      3
Silaera56        3
Ilarin91         3
Phaena87         3
Chamimla85       3
Siallylis44      3
Chanastnya43     3
Saistyphos30     3
Pheodaisun84     3
Rarallo90        3
Haillyrgue51     3
Aelin32          3
Lisim78          3
Lisopela58       3
Iri67            3
Tyisur83         3
Chamjask73       3
Aina42           3
Raesty92         3
Saedaiphos46     3
Umolrian85       3
Zontibe81        3
Hada39           3
Ialallo29        3
Inguron55        3
Phyali88         3
                ..
Marughi89        1
Frichadar89      1
Mindadaran26     1
Quaranmol58      1
Heollyriap59     1
Iskirra45        1
Chadjask77       1
Assilsan72       1
Assehoan67       1
Assassa81        1
Aidain51         1
Irithlis29       1
Mindilsa60       1
Lisossa46        1
Lassassasda30    1
Ethriel85        1
Chamalo71        1
Tyalaesu89       1
Tyaelaelis94     1
Aesurstilis64    1
Aisurria69       1
Undirra73        1
Chamassasya86    1
Jiskossa61       1
Poshilsa82       1
Lisirra25        1
Aisur51          1
Lassjask63       1
Aenarap34        1
Aellynun67       1
Name: SN, Length: 576, dtype: int64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame